{% extends 'base.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %}
    <h1>Questions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Multipe réponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.textQuestion }}</td>
                <td>{{ question.isMultiple ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('questions_show', {'id': question.id}) }}">voir</a>
                    <a href="{{ path('reponses_index', {'id': question.id}) }}">personnalisation des réponses</a>
                    <a href="{{ path('questions_edit', {'id': question.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune questions trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('questions_new') }}">Créer une nouvelle question</a>
{% endblock %}
