{% extends 'base.html.twig' %}

{% block title %} Question : {{ question.textQuestion }} {% endblock %}

{% block body %}
    <h1> {{ question.textQuestion }} </h1>

    <form action="" method="post" style="margin-left: 2%;">
        {% set input_type=question.isMultiple ? 'checkbox' : 'radio' %}

        {% for reponse in reponses %}
            <input type="{{input_type}}" name="answer[]" value="{{reponse.id}}"> {{reponse.textReponse}} <br />
        {% endfor %}

        <button style="margin-top: 1%;"> Envoyer </button>
    </form>

    <a href="{{ path('questions_index') }}"> <p style="margin-top: 2%; margin-left: 2%;"> Retour à la liste </p> </a>

{% endblock %}
