<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {# Run composer require symfony/webpack-encore-bundle
                                                                                           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            <link href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
            <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

            <!-- Custom styles for this template-->
            <link href="{{ asset('assets/css/sb-admin-2.min.css') }}" rel="stylesheet">


        {% endblock %}
    </head>
    <body id="page-top">
        {{ include('home/includes/header.html.twig') }}
        <main>
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}

        {% block body %}{% endblock %}
        </main>
        {{ include('home/includes/footer.html.twig') }}

        {% block javascripts %}
            <!-- Bootstrap core JavaScript-->
            <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

            <!-- Core plugin JavaScript-->
            <script src="{{ asset('assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

            <!-- Custom scripts for all pages-->
            <script src="{{ asset('assets/js/sb-admin-2.min.js') }}"></script>

        {% endblock %}

        
    </body>
</html>